.search-result {
    display: none;
    height: 600px;
    overflow: auto;
}

.search-result thead th:nth-child(1) {
    width: 600px;
}

.search-result thead th:nth-child(2) {
    width: 200px;
}

.search-result thead th:nth-child(3) {
    width: 200px;
}

.search-result tbody tr:nth-child(even) {
    background-color: #F8F8F8;
}

.search-result tbody tr:nth-child(odd) {
    background-color: #FFFFFF;
}

.search-result tbody tr:hover{
    opacity: 0.5;
}

::-webkit-scrollbar {
    background-color: #fff;
    width: 5px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, .3);
    background-color: #f8f8f8;
}